*{ 
  margin: 0;
  padding: 0; 
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.embed-container{ 
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 0;
  color: #ecf0f1;
}
.embed-container>iframe{ 
  width: 100%;
  height: 100vh; 
  z-index: -99;
  opacity: .9;
}
.embed-container>.conteudo{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
}
.conteudo{
  width: 100%;
  height: 100vh;
  flex-direction: column;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}
.flexed{
  display: flex;
}
.btn{
  background: #CD201F;
  width: 250px;
  height: 50px;
  font-size: 17px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-shadow: none !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.yt{
  color: #CD201F;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.yt::after{
  content: '';
  width: 150px;
  height: 5px;
  background: currentColor;
  display: block;
  margin: 7px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .7);
}